<div id="<%= dom_id todo %>">
  <p>
    <strong>Content:</strong>
    <%= todo.content %>
  </p>

  <p>
    <strong>Goal:</strong>
    <%= todo.goal_id %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= todo.position %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= todo.done %>
  </p>

</div>
